.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 2.22;
  color: var(--white);
  background: var(--orange-gradient);
  box-shadow: 0px 8px 10px rgba(160, 121, 0, 0.1);
  border-radius: 100px;
  border: none;
  padding: 1.25rem 5.625rem;
  transition: all 0.2s;
}

.button:hover {
  box-shadow: 1px -2px 11px 3px rgba(255, 187, 0, 0.5),
    -1px 2px 9px 3px rgba(255, 149, 0, 0.5);
}
