.changes {
  margin-top: 5.125rem;
  margin-bottom: 4.8125rem;
}

.title {
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.3;
  color: var(--secondary-green);
  text-align: center;
  margin-bottom: 3.3125rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 285px));
  justify-content: center;
  gap: 20px;
}

.card {
  box-shadow: 0px 8px 10px rgba(24, 48, 84, 0.1);
  border-radius: 10px;
  position: relative;
  padding: 1.25rem 2.8125rem 1.25rem 0.9375rem;
}

.cardTitle {
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.3;
  max-width: 70%;
}

.description {
  font-size: 0.75rem;
  line-height: 1.67;
  color: #676767;
  margin-top: 0.625rem;
}

.iconWrapper {
  position: absolute;
  right: 10px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}

.flag {
  position: absolute;
  z-index: 1;
}

.changesIcon {
  z-index: 2;
}

.wide {
  max-width: 70%;
}

@media (max-width: 768px) {
  .description {
    width: 90%;
  }
  
  .title {
    text-align: left;
  }

  .changes {
    padding: 0 2.8125rem;
  }

  .cards {
    grid-template-columns: 1fr;
  }
}
