.wrapper {
  max-width: 1120px;
  margin: 0 auto 7.5rem;
  position: relative;
}

.quote {
  position: relative;
  background: var(--white);
  box-shadow: 0px 8px 10px rgba(24, 48, 84, 0.1);
  border-radius: 30px;
  padding: 40px 30px 50px 70px;
  max-width: 600px;
  z-index: 2;
}

.quote::before {
  content: '';
  position: absolute;
  top: 22px;
  left: 19px;
  background-image: url('../../assets/review/quotes.svg');
  background-repeat: no-repeat;
  width: 49px;
  height: 33px;
}

.title {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.6875rem;
  color: var(--secondary-green);
  font-family: var(--heading-font);
  margin-bottom: 18px;
}

.remark {
  font-size: 0.875rem;
  line-height: 1.875rem;
  color: #676767;
}

.vk {
  margin-left: auto;
  position: absolute;
  top: 50px;
  right: 10px;
  max-width: 550px;
  background: #f9faff;
  padding: 45px 45px 45px 76px;
  border: 2px solid var(--secondary-orange);
  border-radius: 30px;
}

.message {
  display: flex;
  background-image: url('../../assets/review/message.svg');
  background-repeat: no-repeat;
  padding: 6px 20px;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--gray);
}

.wrap {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
}

@media (max-width: 1100px) {
  .wrapper {
    width: 70%;
    margin: 0 auto 21.875rem;
  }

  .quote {
    max-width: 100%;
  }

  .vk {
    right: 13%;
    left: 13%;
    top: 86%;
    padding: 43px 15px 36px;
  }
}

@media (max-width: 900px) {
  .wrap {
    justify-content: center;
  }

  .quote {
    padding: 60px 22px 27px 42px;
  }

  .message {
    background-size: contain;
  }

  .button {
    font-size: 0.875rem;
    line-height: 1.5625rem;
  }

  .logo img {
    width: 38px;
    height: 38px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 100%;
  }

  .title {
    font-size: 18px;
    line-height: 1.67;
  }

  .remark {
    font-size: 13px;
    line-height: 2.31;
  }

  .message {
    font-size: 9px;
    line-height: 2;
    max-width: 362px;
  }

  .button {
    font-size: 14px;
    line-height: 1.79;
    padding: 14px 40px;
  }
}
