.wrapper {
  background-color: var(--white);
  box-shadow: 0px 8px 10px rgba(24, 48, 84, 0.1);
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5.5rem;
}

.manual {
  padding: 3.75rem 0 0 6.25rem;
  flex-basis: 40%;
}

.title {
  width: 475px;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.46;
  color: var(--secondary-green);
  margin-bottom: 0.9375rem;
}

.subtitle {
  font-size: 1.25rem;
  line-height: 1.75;
  color: var(--gray);
  margin-bottom: 1.875rem;
}

.remark {
  font-size: 0.75rem;
  line-height: 0.9375rem;
  color: var(--gray);
  margin-bottom: 2.8125rem;
}

.button {
  margin-bottom: 1.5625rem;
}

.qr {
  margin-left: 6.25rem;
  margin-bottom: 9.0625rem;
}

.bg {
  position: relative;
  background-image: url('../../assets/phone/phone-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.bg img {
  padding-top: 3.75rem;
}

@media (max-width: 1100px) {
  .bg {
    background-size: contain;
  }
  .wrapper {
    flex-direction: column;
  }

  .image {
    order: -1;
  }

  .qr {
    text-align: left;
  }

  .bg img {
    width: 100%;
    padding-top: 0;
    padding-bottom: 3.75rem;
  }
}

@media (max-width: 900px) {
  .manual {
    max-width: 100%;
    padding: 1.875rem 1.4875rem 2.5rem;
  }

  .title {
    width: 100%;
    font-size: 1.125rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .remark {
    font-size: 0.5625rem;
  }

  .button {
    width: 95%;
    font-size: 0.875rem;
    line-height: 1;
    padding: 1.25rem 3.125rem;
    margin-right: 0;
  }

  .qr {
    margin-bottom: 0;
    margin-left: 0;
    text-align: center;
  }
}
