.shops {
  margin: 0 auto 3.25rem;
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.item {
  display: flex;
  justify-content: center;
}

.item img {
  object-fit: contain;
}

.description {
  font-size: 0.875rem;
  line-height: 2.4;
  margin-left: 2.1875rem;
  margin-top: 1.875rem;
  color: #4f4f4f;
}

.description span {
  color: var(--secondary-green);
  font-weight: bold;
}

.top .description {
  width: 38%;
}

.second {
  width: 35%;
  margin-top: 0;
  margin-left: 11.5625rem;
  margin-right: 1.875rem;
}

.second span {
  color: var(--secondary-orange);
  font-weight: bold;
}

@media (max-width: 768px) {
  .item img {
    width: 100%;
  }

  .shops {
    width: 100%;
    grid-template-rows: auto;
    gap: 30px;
    margin: 0;
    margin-bottom: 3.25rem;
  }

  .top {
    display: block;
  }

  .top .description,
  .bottom .description {
    width: 100%;
    margin: 0;
  }

  .bottom {
    flex-direction: column;
  }

  .bottom .description {
    order: 1;
  }
}
