.header {
  display: flex;
  align-items: center;
  border-radius: 30px;
  background: var(--orange-gradient);
  box-shadow: 0px 8px 10px rgba(24, 48, 84, 0.1);
  color: var(--white);
}

.heading {
  flex-basis: 50%;
  text-align: center;
}

.title {
  font-size: 4rem;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 2.125rem;
}

.title span {
  display: block;
  font-family: var(--heading-font);
  font-size: 4.5rem;
  line-height: 1.25;
  font-weight: bold;
}

.subtitle {
  width: 70%;
  margin: 0 auto 3.125rem;
}

.image {
  flex-basis: 50%;
  position: relative;
  margin-bottom: -0.1875rem;
}

.image::before {
  content: '';
  position: absolute;
  right: 1.875rem;
  background-image: url('../../assets/header/lines.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}

.image img {
  object-fit: cover;
  width: 100%;
}

@media (max-width: 1100px) {
  .title {
    font-size: 3.5rem;
  }

  .title span {
    font-size: 4rem;
  }

  .subtitle {
    margin-bottom: 1.825rem;
  }
}

@media (max-width: 900px) {
  .header {
    flex-direction: column;
  }

  .heading {
    order: 1;
    margin-top: 2.5rem;
  }

  .image {
    width: 100%;
  }

  .image::before {
    background-image: url('../../assets/header/lines-mob.svg');
    background-size: contain;
    left: 0;
    bottom: -40px;
    width: 100%;
    height: 16%;
  }

  .subtitle {
    margin: 0 auto 0.9375rem;
  }

  .logo img {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 440px) {
  .image::before {
    background-image: url('../../assets/header/lines-mob.svg');
    background-size: contain;
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 16%;
  }
  .title span {
    font-size: 3rem;
    line-height: 1.25;
  }

  .title {
    font-size: 2.25rem;
    line-height: 1.25;
    margin-bottom: 1.5625rem;
  }
}
