.footer {
  width: 100%;
  padding: 4.0625rem 0;
  background-color: var(--secondary-orange);
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.socials {
  display: flex;
  align-items: center;
  gap: 1.875rem;
}

@media (max-width: 1100px) {
  .wrapper {
    padding: 0 0.625rem;
  }
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    text-align: center;
  }

  .logo {
    margin-bottom: 1.875rem;
  }

  .socials {
    justify-content: center;
  }
}
