.wrapper {
  max-width: 800px;
  margin: 0 auto 5.625rem;
}

.stores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 4.6875rem;
  margin-bottom: 1.5625rem;
}

.title {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-align: center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: var(--orange-gradient);
  margin-bottom: 3.75rem;
}

.address {
  list-style-type: none;
  margin-bottom: 1.25rem;
}

.moreBlock {
  text-align: center;
}

.more {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1.125rem;
  line-height: 2.5rem;
  text-decoration-line: underline;
  color: var(--secondary-orange);
}

@media (max-width: 768px) {
  .stores {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .address {
    margin-bottom: 1.5625rem;
  }

  .title {
    font-size: 1.5rem;
    margin-bottom: 1.5625rem;
  }
}
