:root {
  --primary-font: 'Ubuntu', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
  --heading-font: 'Caveat', sans-serif;

  --white: #ffffff;
  --gray: #333333;
  --light-gray: #c4c4c4;

  --green-first: #72c00f;
  --green-second: #7fd018;

  --green-gradient: linear-gradient(
    128.87deg,
    var(--green-first) 0%,
    var(--green-second) 110.04%
  );
  --orange-gradient: linear-gradient(253.58deg, #ffc000 1.55%, #ff8a00 95.8%);

  --primary-brown: #492600;
  --primary-bg: #f9faff;

  --secondary-orange: #ff8200;
  --secondary-green: #78be20;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-color: var(--primary-bg);
  font-family: var(--primary-font);
  padding: 1.25rem 1.25rem 4.0625rem 1.25rem;
}

@media (max-width: 420px) {
  .App {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
}

/* SLICK SLIDER */

.slick-slide {
  position: relative !important;
  padding-bottom: 20px;
}

.slick-prev,
.slick-next {
  background: var(--orange-gradient) !important;
  position: absolute !important;
  width: 48px !important;
  height: 48px !important;
  border-radius: 50%;
  transition: all 0.2s;
  top: 110% !important;
  z-index: 2;
}

.slick-next {
  right: 40px !important;
}

.slick-prev {
  left: 86% !important;
}

.slick-prev:before,
.slick-next:before {
  content: '' !important;
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('assets/icons/arrow.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
  height: 14px;
  transition: all 0.2s;
}

.slick-prev:before {
  transform: rotate(180deg) translate(50%, 40%);
}

.slick-list {
  padding: 0 10px !important;
}

.slick-disabled {
  background: transparent !important;
  border: 2px solid var(--secondary-orange) !important;
}

.slick-disabled:before {
  background-image: url('assets/icons/disabled-arrow.svg');
  opacity: 1 !important;
}

.slick-dots {
  text-align: left !important;
  bottom: -45px !important;
  left: 5px;
  z-index: 1;
}

.slick-dots li {
  width: auto !important;
  height: auto !important;
  transition: all 0.2s;
}

.slick-dots li button::before {
  display: none;
}

.slick-dots li button {
  width: 21px !important;
  height: 5px !important;
  background: #bdbdbd !important;
  padding: 0 !important;
  border-radius: 50px;
  transition: all 0.2s;
}

.slick-dots li.slick-active button {
  width: 45px !important;
  background: var(--orange-gradient) !important;
}

@media (max-width: 1100px) {
  .slick-prev {
    left: 83% !important;
  }
}

@media (max-width: 768px) {
  .slick-slide div {
    text-align: center;
  }
}