.wrapper {
  margin-bottom: 4.375rem;
}

.map {
  height: 510px;
  filter: drop-shadow(0px 8px 10px rgba(24, 48, 84, 0.1));
  border-radius: 30px;
  overflow: hidden;
}

@media (max-width: 420px) {
  .map {
    max-width: 100%;
  }
}
