.wrapper {
  max-width: 1200px;
  margin: 0 auto 150px;
}

.title {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-align: center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: var(--orange-gradient);
  margin-bottom: 2.5rem;
}

.slide {
  padding: 2.8125rem 2.5rem;
  background: var(--white);
  box-shadow: 0px 8px 10px rgba(24, 48, 84, 0.1);
  border-radius: 20px;
  color: var(--gray);
  max-width: 360px;
}

.author {
  font-weight: bold;
  margin-bottom: 0.625rem;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
}

.date {
  margin-left: 0.625rem;
}

.rating {
  display: flex;
  gap: 2px;
}

.author,
.date {
  font-size: 0.75rem;
  line-height: 0.875rem;
}

.heading {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.3125rem;
}

.body {
  font-size: 0.75rem;
  line-height: 1.875rem;
  max-width: 275px;
}

@media (max-width: 768px) {
  .wrapper {
    margin: 0 auto 40px;
  }

  .title {
    margin-bottom: 1.875rem;
  }
}
